body {
}

.scene {
  display: flex;
  margin-left: 100px;
  perspective: 500px;
  // perspective-origin: 50% calc(50% -150px);
}

$width: 21px;
.panel {
  position: relative;
  // border: 1px solid white;
  width: $width;
  height: 70px;
  overflow: hidden;
  animation: rotate 6s var(--delay) infinite ease-in-out alternate;
}

@keyframes rotate {
  0%,
  10% {
    transform: rotateX(0deg);
  }
  70%,
  100% {
    transform: rotateX(720deg);
  }
}

// .panel:hover {
//   transform: ;
// }

.panel::before {
  content: " Simple Snake Game. Use Arrow keys to control the Snake.";
  left: var(--left);
  font-size: 38px;
  position: absolute;
  width: max-content;
  color: hsl(var(--hue), 75%, 75%);
  transition: 0.2s;
}

@for $i from 0 to 50 {
  .panel:nth-child(#{$i + 1}) {
    --left: #{$width * $i * -1};
    --hue: #{360/50 * $i};
    --delay: #{$i * 0.05s};
  }
}
