.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 29vmin;
  /* pointer-events: none; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    transition: 1s;
    animation: App-logo-spin infinite 0.5s linear;
  }
}

.App-logo2 {
  height: 15vmin;
  /* pointer-events: none; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo2 {
    transition: 1s;
    animation: App-logo-spin infinite 0.5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.surface {
  height: 500px;
  width: 1000px;
  margin: 20px 100px 0px 100px;
  display: inline-block;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
}

.square {
  height: 25px;
  width: 25px;
  display: inline-block;
  position: absolute;
  background-color: rgb(255, 255, 255);
}

/* .square {
  height: 25px;
  width: 25px;
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.2);
} */

.border-black {
  border: rgb(0, 0, 0);
  /* border-radius: 25px; */
  border: 1px solid #000000;
}
