body {
  min-height: 100vh;
  background-color: #000;
  display: grid;
  color: #fff;
  place-items: center;
}

.scene {
  display: flex;
}

.panel {
  position: relative;
  width: 21px;
  height: 100px;
  overflow: hidden;
}

.panel::before {
  content: "Hello World";
  left: var(--left);
  font-size: 96px;
  position: absolute;
  width: max-content;
  color: hsl(var(--hue), 75%, 75%);
  transition: 0.2s;
}

.panel:nth-child(1) {
  --left: 0px;
  --hue: 0;
}

.panel:nth-child(2) {
  --left: -21px;
  --hue: 15;
}

.panel:nth-child(3) {
  --left: -42px;
  --hue: 30;
}

.panel:nth-child(4) {
  --left: -63px;
  --hue: 45;
}

.panel:nth-child(5) {
  --left: -84px;
  --hue: 60;
}

.panel:nth-child(6) {
  --left: -105px;
  --hue: 75;
}

.panel:nth-child(7) {
  --left: -126px;
  --hue: 90;
}

.panel:nth-child(8) {
  --left: -147px;
  --hue: 105;
}

.panel:nth-child(9) {
  --left: -168px;
  --hue: 120;
}

.panel:nth-child(10) {
  --left: -189px;
  --hue: 135;
}

.panel:nth-child(11) {
  --left: -210px;
  --hue: 150;
}

.panel:nth-child(12) {
  --left: -231px;
  --hue: 165;
}

.panel:nth-child(13) {
  --left: -252px;
  --hue: 180;
}

.panel:nth-child(14) {
  --left: -273px;
  --hue: 195;
}

.panel:nth-child(15) {
  --left: -294px;
  --hue: 210;
}

.panel:nth-child(16) {
  --left: -315px;
  --hue: 225;
}

.panel:nth-child(17) {
  --left: -336px;
  --hue: 240;
}

.panel:nth-child(18) {
  --left: -357px;
  --hue: 255;
}

.panel:nth-child(19) {
  --left: -378px;
  --hue: 270;
}

.panel:nth-child(20) {
  --left: -399px;
  --hue: 285;
}

.panel:nth-child(21) {
  --left: -420px;
  --hue: 300;
}

.panel:nth-child(22) {
  --left: -441px;
  --hue: 315;
}

.panel:nth-child(23) {
  --left: -462px;
  --hue: 330;
}

.panel:nth-child(24) {
  --left: -483px;
  --hue: 345;
}
